footer.homeFooter
  include social-medias.pug

  div.copyrightText
    p Copyright ☺ 2017
    p Criado com ♥ por 
      a(href="https://dudukling.github.io/") Dudu
      |.

script(src="assets/default.js" async type='text/javascript')
