footer.homeFooter
  div.socialMedias
    a(href="https://github.com/DuduKling" target="_blank" rel="noopener")
      svg(viewBox="0 0 24 24")
        use(xlink:href="#svg-github")
    a(href="https://www.linkedin.com/in/eduardo-kling-mesiano-2aab7b113/"  target="_blank" rel="noopener")
      svg(viewBox="0 0 24 24")
        use(xlink:href="#svg-linkedin")
    a(href="https://www.facebook.com/eduardokmesiano"  target="_blank" rel="noopener")
      svg(viewBox="0 0 24 24")
        use(xlink:href="#svg-facebook")
    a(href="https://twitter.com/Eduardo_Kling"  target="_blank" rel="noopener")
      svg(viewBox="0 0 24 24")
        use(xlink:href="#svg-twitter")
    a(href="mailto:eduardokmesiano@gmail.com"  target="_blank" rel="noopener")
      svg(viewBox="0 0 24 24")
        use(xlink:href="#svg-mail")

  div.copyrightText
    p Copyright ☺ 2017
    p Criado com ♥ por 
      a(href="https://dudukling.github.io/") Dudu
      |.

script(src="assets/default.js" async type='text/javascript')
