footer.homeFooter
  include social-medias.pug

  div.copyrightText
    p #{info.copyright}
    p #{info.copyrightMessage}
      a(href=info.url) #{info.nickName}
      |.

script(src="assets/default.js" async type='text/javascript')
