header.homeHeader
  div.background

  nav.menu#js-menu.-top
    a(href="index.html").logo &lt; Dudu Kling /&gt;

    label.hamburgerMenu(for="respMenu")
      .line1
      .line2
      .line3

    input(type="checkbox" class="respMenu")

    ul
      li
        a(href="index.html") Home
      li 
        a(href="#sobre") Sobre
      li 
        a(href="#portfolio") Portfólio
      li 
        a(href="#blog") Blog
      li 
        a(href="Curriculum_Eduardo_K_Mesiano.pdf" target="_blank" rel="noopener") Currículo
      li 
        a(href="#contato") Contato

  div.present
    div
        div
            img.avatar(src="assets/images/avatar.png" alt="Desenho de uma pessoa de cabelo preto e camisa azul em um fundo verde")
    h1.headerName1
        span Eduardo Kling
        br
    h1.headerName2
        span Mesiano
        br
