- var languages = languageModal;

div#langModal.langModal
  div.langModal-content
    span#langModalClose.langModalClose &times;

    ul.langModalList
      each lang, key in languageModal
        li
          a(href="/"+lang.url) #{lang.title}
            div.langFlags
              each flag in lang.flags
                img(src="./assets/images/"+flag.path+".svg", alt=flag.alt)
