div.socialMedias
  a(href=social.github target="_blank" rel="noopener")
    svg(viewBox="0 0 24 24")
      use(xlink:href="#svg-github")
  a(href=social.linkedin target="_blank" rel="noopener")
    svg(viewBox="0 0 24 24")
      use(xlink:href="#svg-linkedin")
  a(href=social.facebook target="_blank" rel="noopener")
    svg(viewBox="0 0 24 24")
      use(xlink:href="#svg-facebook")
  a(href=social.twitter target="_blank" rel="noopener")
    svg(viewBox="0 0 24 24")
      use(xlink:href="#svg-twitter")
  a(href="mailto:"+social.mail target="_blank" rel="noopener")
    svg(viewBox="0 0 24 24")
      use(xlink:href="#svg-mail")
