div.socialMedias
  a(href="https://github.com/DuduKling" target="_blank" rel="noopener")
    svg(viewBox="0 0 24 24")
      use(xlink:href="#svg-github")
  a(href="https://www.linkedin.com/in/eduardoklingmesiano/" target="_blank" rel="noopener")
    svg(viewBox="0 0 24 24")
      use(xlink:href="#svg-linkedin")
  a(href="https://www.facebook.com/eduardokmesiano" target="_blank" rel="noopener")
    svg(viewBox="0 0 24 24")
      use(xlink:href="#svg-facebook")
  a(href="https://twitter.com/Eduardo_Kling" target="_blank" rel="noopener")
    svg(viewBox="0 0 24 24")
      use(xlink:href="#svg-twitter")
  a(href="mailto:eduardokmesiano@gmail.com" target="_blank" rel="noopener")
    svg(viewBox="0 0 24 24")
      use(xlink:href="#svg-mail")
