svg(xmlns="http://www.w3.org/2000/svg")
    defs(width="24" height="24" viewBox="0 0 24 24")
        path(id="svg-email" d="M0 3v18h24V3H0zm6.623 7.929L2 16.641V7.183l4.623 3.746zM2.482 5h19.035L12 12.713 2.482 5zm5.694 7.188L12 15.287l3.83-3.104L21.442 19H2.663l5.513-6.812zm9.208-1.264L22 7.183v9.348l-4.616-5.607z")

        path(id="svg-magnifier" d="M23.822 20.88l-6.353-6.354a9.407 9.407 0 0 0 1.467-5.059C18.937 4.248 14.689 0 9.468 0S0 4.248 0 9.468c0 5.221 4.247 9.469 9.468 9.469a9.41 9.41 0 0 0 4.839-1.333L20.703 24l3.119-3.12zM3.528 9.468A5.947 5.947 0 0 1 9.467 3.53a5.946 5.946 0 0 1 5.94 5.938 5.946 5.946 0 0 1-5.94 5.939 5.946 5.946 0 0 1-5.939-5.939z")