* {
  margin: 0;
  box-sizing: border-box; }

.menu {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .menu > .logo {
    margin-left: 25px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none; }
  .menu > ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end; }
    .menu > ul > li {
      height: 100%;
      margin-right: 12px; }
      .menu > ul > li > a {
        height: 100%;
        display: block;
        position: relative;
        padding: 0 5px;
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center; }
        .menu > ul > li > a:after {
          content: '';
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: transparent;
          transition: background-color 0.3s ease; }
        .menu > ul > li > a:hover:after {
          content: '';
          background-color: white; }
      .menu > ul > li > a[href="#"] {
        color: #353535;
        cursor: default; }
        .menu > ul > li > a[href="#"]:hover:after {
          content: none; }

.homeHeader {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; }
  .homeHeader > .background {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
    background: url("imgs/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(3px); }
  .homeHeader > .present {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-top: 40px; }
    .homeHeader > .present > div {
      transition: all 0.5s ease;
      margin-bottom: 20px; }
      .homeHeader > .present > div > div {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden; }
        .homeHeader > .present > div > div > .avatar {
          width: 100%; }
      .homeHeader > .present > div:hover {
        transform: rotateY(180deg); }
    .homeHeader > .present > .headerName {
      color: #f8f8f8;
      font-family: "Varela Round", sans-serif;
      font-size: 30px;
      letter-spacing: 3px;
      text-shadow: 3px 3px #262c31;
      text-align: center; }

svg {
  display: none; }

.about {
  width: 100%;
  background-color: #f8f8f8;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px; }
  .about > h3 {
    font-size: 28px;
    margin-bottom: 30px; }
  .about > .aboutMeSumUp {
    width: 50%;
    font-size: 15px;
    margin-bottom: 100px;
    color: #2CAD88;
    font-family: "Montserrat", sans-serif;
    text-align: center; }
  .about > .socialMedias {
    width: 100%;
    display: flex;
    justify-content: center; }
    .about > .socialMedias > a {
      width: 20px;
      height: 20px;
      display: block;
      margin-right: 10px; }
      .about > .socialMedias > a > svg {
        display: block;
        width: 25px;
        height: 25px;
        transition: all 0.2s ease; }
        .about > .socialMedias > a > svg:hover {
          fill: #2CAD88; }

.skills {
  width: 100%;
  padding: 40px 5%;
  position: relative;
  background-color: #1F2421; }
  .skills > h3 {
    font-family: "Varela Round", sans-serif;
    color: #f8f8f8;
    font-size: 28px;
    padding-bottom: 5px;
    border-bottom: 2px solid #f8f8f8;
    margin-bottom: 25px; }
  .skills > .skillsList {
    position: relative; }
    .skills > .skillsList > ul {
      list-style-type: none;
      padding: 0;
      color: #f8f8f8;
      font-family: "Montserrat", sans-serif;
      font-size: 14px; }
      .skills > .skillsList > ul > li {
        margin-bottom: 10px;
        border-bottom: 1px dashed #f8f8f8;
        border-right: 1px solid #f8f8f8;
        border-top: 1px dashed #f8f8f8;
        border-left: 1px dashed #7f9086;
        background-color: #2b322e;
        text-align: right;
        padding: 3px 10px; }
        .skills > .skillsList > ul > li.level1 {
          width: 10%; }
        .skills > .skillsList > ul > li.level2 {
          width: 20%; }
        .skills > .skillsList > ul > li.level3 {
          width: 30%; }
        .skills > .skillsList > ul > li.level4 {
          width: 40%; }
        .skills > .skillsList > ul > li.level5 {
          width: 50%; }
        .skills > .skillsList > ul > li.level6 {
          width: 60%; }
        .skills > .skillsList > ul > li.level7 {
          width: 70%; }
        .skills > .skillsList > ul > li.level8 {
          width: 80%; }
        .skills > .skillsList > ul > li.level9 {
          width: 90%; }
        .skills > .skillsList > ul > li.level10 {
          width: 100%; }
    .skills > .skillsList > .skillsExpertise {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      z-index: 0; }
      .skills > .skillsList > .skillsExpertise > div {
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Varela Round", sans-serif;
        font-size: 10px; }
        .skills > .skillsList > .skillsExpertise > div:nth-child(1) {
          width: 33%;
          background-color: #5ec35e;
          margin-right: 5px;
          padding-right: 5px; }
        .skills > .skillsList > .skillsExpertise > div:nth-child(2) {
          width: 38%;
          background-color: #ffb733;
          margin-right: 5px;
          padding-right: 5px; }
        .skills > .skillsList > .skillsExpertise > div:nth-child(3) {
          width: 33%;
          background-color: #ff1313; }

.portfolio {
  width: 100%;
  padding: 40px 5%;
  background-color: #2CAD88; }
  .portfolio > h3 {
    font-family: "Varela Round", sans-serif;
    color: #f8f8f8;
    font-size: 28px;
    padding-bottom: 5px;
    border-bottom: 2px solid #f8f8f8;
    margin-bottom: 25px; }
  .portfolio > .portfolioContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .portfolio > .portfolioContainer > .frame {
      height: 400px;
      min-width: 250px;
      max-width: calc(30% - 20px);
      flex-grow: 1;
      border: 1px solid #f8f8f8;
      border-radius: 15px;
      margin: 0 20px 30px 20px;
      background-color: #f8f8f8;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.2s ease; }
      .portfolio > .portfolioContainer > .frame > .case {
        width: 100%;
        transition: all 0.2s ease;
        z-index: -1; }
      .portfolio > .portfolioContainer > .frame > .hover {
        width: 100%;
        height: 100%;
        background-color: rgba(248, 248, 248, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.2s ease; }
        .portfolio > .portfolioContainer > .frame > .hover > h2 {
          font-family: "Varela Round", sans-serif;
          margin-bottom: 20px; }
        .portfolio > .portfolioContainer > .frame > .hover > svg {
          display: block;
          width: 35px;
          height: 35px; }
      .portfolio > .portfolioContainer > .frame:hover > .hover {
        opacity: 1; }
      .portfolio > .portfolioContainer > .frame:hover > .case {
        transform: scale(1.1); }

.blog {
  width: 100%;
  padding: 40px 5%;
  background-color: #f8f8f8; }
  .blog > h3 {
    font-family: "Varela Round", sans-serif;
    color: #1F2421;
    font-size: 28px;
    padding-bottom: 5px;
    border-bottom: 2px solid #1F2421;
    margin-bottom: 25px; }
  .blog > .blogContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    .blog > .blogContainer > .post {
      width: 30%;
      padding: 15px 15px 15px 15px;
      margin-bottom: 30px;
      font-family: "Montserrat", sans-serif;
      border: 1px solid #dee3e0;
      transition: box-shadow 0.2s ease;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .blog > .blogContainer > .post:hover {
        box-shadow: 0px 0px 5px #9aa8a0; }
        .blog > .blogContainer > .post:hover > .postlink > .postTitle {
          color: #2CAD88; }
      .blog > .blogContainer > .post > .postlink {
        display: block;
        text-decoration: none;
        color: #1F2421; }
        .blog > .blogContainer > .post > .postlink > .postTitle {
          letter-spacing: 2px;
          font-size: 24px;
          margin-bottom: 3px;
          transition: color 0.2s ease; }
        .blog > .blogContainer > .post > .postlink > .infos {
          font-size: 12px;
          color: #797979;
          margin-bottom: 30px; }
        .blog > .blogContainer > .post > .postlink > .peek {
          color: #373f3a;
          line-height: 22px;
          margin-bottom: 20px; }
      .blog > .blogContainer > .post > .tags {
        align-self: flex-end;
        padding: 0;
        color: #373f3a;
        list-style-type: none;
        display: flex; }
        .blog > .blogContainer > .post > .tags > li {
          margin-left: 5px;
          padding: 5px;
          border-radius: 3px;
          font-size: 14px;
          transition: background-color 0.2s ease; }
          .blog > .blogContainer > .post > .tags > li:hover {
            background-color: #2CAD88; }
            .blog > .blogContainer > .post > .tags > li:hover > a {
              color: #f8f8f8; }
          .blog > .blogContainer > .post > .tags > li > a {
            text-decoration: none;
            color: #373f3a;
            transition: color 0.2s ease; }

.contact {
  width: 100%;
  padding: 40px 5%;
  background-color: #1F2421; }
  .contact > h3 {
    font-family: "Varela Round", sans-serif;
    color: white;
    font-size: 28px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    margin-bottom: 25px; }
  .contact > form {
    display: flex;
    flex-direction: column; }
    .contact > form > .textField {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px; }
      .contact > form > .textField > input {
        width: 49%;
        background-color: transparent;
        padding: 10px;
        font-size: 14px;
        font-family: "Varela Round", sans-serif;
        color: white;
        letter-spacing: 1px;
        border: 1px solid #f8f8f8;
        border-radius: 10px; }
        .contact > form > .textField > input::placeholder {
          font-family: "Varela Round", sans-serif;
          color: #797979;
          letter-spacing: 1px; }
        .contact > form > .textField > input:focus {
          border-color: #2CAD88;
          outline: none; }
    .contact > form > textarea {
      margin-bottom: 10px;
      background-color: transparent;
      padding: 10px;
      font-family: "Varela Round", sans-serif;
      font-size: 14px;
      border: 1px solid #f8f8f8;
      color: #f8f8f8;
      letter-spacing: 1px;
      resize: none;
      border-radius: 10px; }
      .contact > form > textarea::placeholder {
        font-family: "Varela Round", sans-serif;
        color: #797979;
        letter-spacing: 1px; }
      .contact > form > textarea:focus {
        border-color: #2CAD88;
        outline: none; }
    .contact > form > input[type="submit"] {
      padding: 10px;
      background-color: #f8f8f8;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      align-self: flex-end;
      font-family: "Varela Round", sans-serif;
      border: 1px solid #f8f8f8;
      transition: all 0.2s ease;
      outline: none; }
      .contact > form > input[type="submit"]:hover {
        color: #f8f8f8;
        background-color: transparent;
        border: 1px solid #2CAD88; }
  .contact > .email {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    font-family: "Varela Round", sans-serif;
    color: #f8f8f8;
    letter-spacing: 1px; }
    .contact > .email > svg {
      display: block;
      width: 50px;
      height: 50px;
      margin-bottom: 15px;
      fill: #f8f8f8; }

.homeFooter {
  width: 100%;
  height: 50vh;
  padding: 8vh 5% 0 5%;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Varela Round", sans-serif; }
  .homeFooter > .socialMedias {
    width: 35%;
    display: flex;
    justify-content: space-around; }
    .homeFooter > .socialMedias > a > svg {
      display: block;
      width: 50px;
      height: 50px;
      transition: all 0.2s ease; }
      .homeFooter > .socialMedias > a > svg:hover {
        fill: #2CAD88; }
  .homeFooter > .copyrightText {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .homeFooter > .copyrightText > p {
      margin-bottom: 5px; }
      .homeFooter > .copyrightText > p > a {
        color: black;
        transition: color 0.2s ease; }
        .homeFooter > .copyrightText > p > a:hover {
          color: #2CAD88; }

/* SandBox */
.sandboxSection {
  width: 100%;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("imgs/sandbox-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.aviso {
  margin-top: 20px;
  position: absolute;
  right: 0;
  bottom: 0; }
  .aviso > p {
    width: 100%;
    text-align: right;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    color: #f8f8f8;
    line-height: 20px; }
    .aviso > p > .red {
      text-transform: uppercase;
      color: darkred; }

.sandPageTitle {
  margin: 30px 20px 0 20px;
  position: relative;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  color: #f8f8f8;
  text-shadow: 1px 1px #262c31; }

.sandList {
  width: 100%;
  padding: 0 20px; }
  .sandList > .sandLine {
    width: 100%;
    list-style-type: none;
    border-top: 1px dashed #f8f8f8; }
    .sandList > .sandLine:first-child {
      border-top: 1px solid #f8f8f8; }
    .sandList > .sandLine > a {
      width: 100%;
      height: 100%;
      padding: 30px 20px;
      display: block;
      text-decoration: none;
      position: relative;
      font-family: "Varela Round", sans-serif;
      color: #f8f8f8;
      text-shadow: 1px 1px #262c31;
      transition: background-color 0.2s ease; }
      .sandList > .sandLine > a:hover {
        background-color: rgba(37, 68, 96, 0.3); }
      .sandList > .sandLine > a > .date {
        position: absolute;
        right: 5px;
        bottom: 10px;
        font-size: 10px;
        font-style: italic; }
      .sandList > .sandLine > a > .title {
        font-size: 16px; }

/* SandBox Model */
.sandContentHeader {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  padding: 5px; }
  .sandContentHeader > a {
    width: 100%;
    height: 100%;
    display: block; }
    .sandContentHeader > a > img {
      width: 100%; }

.sandContent {
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.sandNotes {
  width: 100%;
  height: 50px;
  background-color: #2CAD88;
  color: white;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center; }
