*
	margin: 0

$verde: #254460
$mainFont: "Arial Black", Gadget, sans-serif

header
	width: 100%
	height: 100vh
	position: relative

	display: flex
	justify-content: center
	align-items: center
	background-color: black

.background
	width: 100%
	height: 100vh

	position: absolute
	z-index: 0

	background: url('imgs/home-bg.jpg')
	background-repeat: no-repeat
	background-size: cover
	filter: blur(3px)

.present
	display: flex
	flex-direction: column
	align-items: center
	z-index: 1

	> div
		width: 192px
		margin-bottom: 20px

		&:hover > .avatar
			transform: rotateY(180deg)

		> .avatar
			width: 100%
			transition: all 0.5s ease

	> .headerName
		color: white
		font-family: $mainFont
		font-size: 30px
		letter-spacing: 3px
		text-shadow: 3px 3px #262c31

.menu
	width: 100%
	height: 60px

	position: fixed
	top: 0
	left: 0
	z-index: 10

	background-color: rgba(255, 255, 255, 0.1)
	font-family: $mainFont

	> ul
		width: 100%
		height: 100%

		margin: 0
		padding: 0
		list-style-type: none

		display: flex
		justify-content: flex-end

		> li
			height: 100%
			margin-right: 20px 

			> a
				height: 100%
				display: block
				position: relative
				padding: 0 5px
				
				color: white
				text-decoration: none

				display: flex
				align-items: center

				&:after
					content: ''
					width: 100%
					height: 5px
					
					position: absolute
					bottom: 0
					left: 0
					background-color: transparent
					transition: background-color 0.3s ease

				&:hover
					//color: lighten(black, 50%)

					&:after
						content: ''
						background-color: white

section
	width: 100%
	height: 2000px
	background-color: #cecece



