*
	margin: 0
	box-sizing: border-box

$verde: #2CAD88
$azul: #254460
$cinza: #f8f8f8
$preto: #1F2421


// Possible Pallet:
// $c1: #254460
// $c2: #1F2421
// $c3: #49A078
// $c4: #9CC5A1
// $c5: #DCE1DE

// $b1: #254460
// $b2: #2CAD88
// $b3: #C6C29B
// $b4: #CDA45C
// $b5: #BF4230

// $font1: "Arial Black", Gadget, sans-serif
// $font2: "Arial", sans-serif

$font1: 'Varela Round', sans-serif
$font2: 'Montserrat', sans-serif


.menu
	width: 100%
	height: 40px

	position: fixed
	top: 0
	left: 0
	z-index: 10

	background-color: rgba(255, 255, 255, 0.1)
	font-family: $font1
	font-size: 12px

	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center

	> .logo
		margin-left: 25px

		color: white
		font-family: $font2
		font-size: 20px
		font-weight: 500
		letter-spacing: 1px

		text-decoration: none	

	> ul
		// width: 100%
		height: 100%

		margin: 0
		padding: 0
		list-style-type: none

		display: flex
		justify-content: flex-end

		> li
			height: 100%
			margin-right: 12px

			> a
				height: 100%
				display: block
				position: relative
				padding: 0 5px
				
				color: white
				text-decoration: none

				display: flex
				align-items: center

				&:after
					content: ''
					width: 100%
					height: 2px
					
					position: absolute
					bottom: 0
					left: 0
					background-color: transparent
					transition: background-color 0.3s ease

				&:hover
					//color: lighten(black, 50%)

					&:after
						content: ''
						background-color: white

			> a[href="#"]
				color: #353535
				cursor: default

				&:hover:after
					content: none

.homeHeader
	width: 100%
	height: 100vh
	position: relative
	overflow: hidden

	display: flex
	justify-content: center
	align-items: center
	background-color: black

	> .background
		width: 100%
		height: 100vh

		position: absolute
		z-index: 0

		background: url('imgs/home-bg.jpg')
		background-repeat: no-repeat
		background-size: cover
		background-attachment: fixed
		filter: blur(3px)

	> .present
		display: flex
		flex-direction: column
		align-items: center
		z-index: 1
		margin-top: 40px

		> div
			transition: all 0.5s ease
			margin-bottom: 20px
			
			> div
				width: 200px
				height: 200px
				border-radius: 50%
				overflow: hidden

				> .avatar
					width: 100%

			&:hover
				transform: rotateY(180deg)

		> .headerName
			color: $cinza
			font-family: $font1
			font-size: 30px
			letter-spacing: 3px
			text-shadow: 3px 3px #262c31
			text-align: center

svg
	display: none


.about
	width: 100%
	background-color: $cinza
	padding: 50px 10px

	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: center

	font-family: $font1
	letter-spacing: 1px

	> h3 
		font-size: 28px
		margin-bottom: 30px

	> .aboutMeSumUp
		width: 50%
		font-size: 15px
		margin-bottom: 100px
		color: $verde
		font-family: $font2
		text-align: center

	> .socialMedias
		width: 100%

		display: flex
		justify-content: center

		> a
			width: 20px
			height: 20px
			display: block
			margin-right: 10px

			> svg
				display: block
				width: 25px
				height: 25px
				transition: all 0.2s ease

				&:hover
					fill: $verde

.skills
	width: 100%
	padding: 40px 5%
	position: relative
	background-color: $preto

	> h3
		font-family: $font1
		color: $cinza
		font-size: 28px
		padding-bottom: 5px
		border-bottom: 2px solid $cinza
		margin-bottom: 25px

	> .skillsList
		position: relative

		> ul
			list-style-type: none
			padding: 0

			color: $cinza
			font-family: $font2
			font-size: 14px

			> li
				margin-bottom: 10px

				border-bottom: 1px dashed $cinza
				border-right: 1px solid $cinza
				border-top: 1px dashed $cinza
				border-left: 1px dashed lighten($preto, 40%)

				background-color: lighten($preto, 5%)

				text-align: right
				padding: 3px 10px

				&.level1
					width: 10%
				&.level2
					width: 20%
				&.level3
					width: 30%
				&.level4
					width: 40%
				&.level5
					width: 50%
				&.level6
					width: 60%
				&.level7
					width: 70%
				&.level8
					width: 80%
				&.level9
					width: 90%
				&.level10
					width: 100%
				
				// &.level1, &.level2, &.level3
				// 	background-color: #5ec35e
				// &.level4, &.level5, &.level6, &.level7
				// 	background-color: rgba(255, 183, 51, 0.7)
				// &.level8, &.level9, &.level10
				// 	background-color: rgba(255, 19, 19, 0.5)


		> .skillsExpertise
			width: 100%
			margin-bottom: 30px
			display: flex
			flex-direction: row
			justify-content: space-around
			align-items: flex-start
			z-index: 0

			> div
				height: 25px
				display: flex
				justify-content: center
				align-items: center

				font-family: $font1
				font-size: 10px

				&:nth-child(1)
					width: 33%
					background-color: #5ec35e
					margin-right: 5px
					padding-right: 5px

				&:nth-child(2)
					width: 38%
					background-color: #ffb733
					margin-right: 5px
					padding-right: 5px

				&:nth-child(3)
					width: 33%
					background-color: #ff1313

.portfolio
	width: 100%
	padding: 40px 5%
	background-color: $verde

	> h3
		font-family: $font1
		color: $cinza
		font-size: 28px
		padding-bottom: 5px
		border-bottom: 2px solid $cinza
		margin-bottom: 25px

	> .portfolioContainer
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center

		> .frame
			height: 400px
			min-width: 250px
			max-width: calc(30% - 20px)
			flex-grow: 1

			border: 1px solid $cinza
			border-radius: 15px
			margin: 0 20px 30px 20px
			background-color: $cinza

			position: relative
			overflow: hidden
			cursor: pointer

			transition: all 0.2s ease

			> .case
				width: 100%
				transition: all 0.2s ease
				z-index: -1

			> .hover
				width: 100%
				height: 100%
				background-color: rgba(248,248,248,0.7)

				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
				position: absolute
				z-index: 1

				opacity: 0
				transition: opacity 0.2s ease

				> h2 
					font-family: $font1
					margin-bottom: 20px

				> svg
					display: block
					width: 35px
					height: 35px

			&:hover
				> .hover
					opacity: 1

				> .case
					transform: scale(1.1)

.blog
	width: 100%
	padding: 40px 5%
	background-color: $cinza

	> h3
		font-family: $font1
		color: $preto
		font-size: 28px
		padding-bottom: 5px
		border-bottom: 2px solid $preto
		margin-bottom: 25px

	> .blogContainer
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap
		
		> .post
			width: 30%
			padding: 15px 15px 15px 15px
			margin-bottom: 30px
			font-family: $font2
			border: 1px solid lighten($preto, 75%)
			transition: box-shadow 0.2s ease

			display: flex
			flex-direction: column
			justify-content: space-between

			&:hover
				box-shadow: 0px 0px 5px lighten($preto, 50%)

				> .postlink > .postTitle
					color: $verde
			
			> .postlink
				display: block
				text-decoration: none
				color: $preto

				> .postTitle
					letter-spacing: 2px
					font-size: 24px
					margin-bottom: 3px
					transition: color 0.2s ease
				
				> .infos
					font-size: 12px
					color: darken($cinza, 50%)
					margin-bottom: 30px

				> .peek
					color: lighten($preto, 10%)
					line-height: 22px
					margin-bottom: 20px
			
			> .tags
				align-self: flex-end
				padding: 0
				color: lighten($preto, 10%)
				list-style-type: none
				
				display: flex

				> li
					margin-left: 5px
					padding: 5px
					border-radius: 3px
					font-size: 14px
					transition: background-color 0.2s ease

					&:hover
						background-color: $verde

						> a
							color: $cinza

					> a 
						text-decoration: none
						color: lighten($preto, 10%)
						transition: color 0.2s ease

.contact
	width: 100%
	padding: 40px 5%
	background-color: $preto

	> h3
		font-family: $font1
		color: white
		font-size: 28px
		padding-bottom: 5px
		border-bottom: 2px solid white
		margin-bottom: 25px
	
	> form
		display: flex
		flex-direction: column

		> .textField
			display: flex
			justify-content: space-between
			margin-bottom: 10px

			> input
				width: 49%
				background-color: transparent
				padding: 10px
				font-size: 14px
				font-family: $font1
				color: white
				letter-spacing: 1px
				
				border: 1px solid $cinza
				border-radius: 10px

				&::placeholder
					font-family: $font1
					color: darken($cinza, 50%)
					letter-spacing: 1px
				
				&:focus
					border-color: $verde
					outline: none
		
		> textarea
			margin-bottom: 10px
			background-color: transparent
			padding: 10px
			font-family: $font1
			font-size: 14px
			border: 1px solid $cinza
			color: $cinza
			letter-spacing: 1px
			resize: none
			border-radius: 10px

			&::placeholder
				font-family: $font1
				color: darken($cinza, 50%)
				letter-spacing: 1px

			&:focus
					border-color: $verde
					outline: none
			

		> input[type="submit"]
			padding: 10px
			background-color: $cinza
			
			border: none
			border-radius: 15px
			cursor: pointer
			align-self: flex-end
			
			font-family: $font1
			border: 1px solid $cinza
			
			transition: all 0.2s ease
			outline: none

			&:hover
				color: $cinza
				background-color: transparent
				border: 1px solid $verde

	> .email
		display: flex
		flex-direction: column
		align-items: center

		margin-bottom: 40px

		font-family: $font1
		color: $cinza
		letter-spacing: 1px

		> svg
			display: block
			width: 50px
			height: 50px
			margin-bottom: 15px
			fill: $cinza

.homeFooter
	width: 100%
	height: 50vh
	padding: 8vh 5% 0 5%
	background-color: $cinza

	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-around
	
	font-family: $font1

	> .socialMedias
		width: 35%
		display: flex
		justify-content: space-around

		> a 
			> svg
				display: block
				width: 50px
				height: 50px
				transition: all 0.2s ease

				&:hover
					fill: $verde
				
	
	> .copyrightText
		display: flex
		flex-direction: column
		align-items: center

		> p
			margin-bottom: 5px

			> a
				color: black
				transition: color 0.2s ease

				&:hover
					color: $verde


/* SandBox */
.sandboxSection
	width: 100%
	min-height: 100vh
	padding-top: 60px
	padding-bottom: 60px

	background: url('imgs/sandbox-bg.jpg')
	background-repeat: no-repeat
	background-size: cover
	background-attachment: fixed

.aviso
	margin-top: 20px
	position: absolute
	right: 0
	bottom: 0

	> p
		width: 100%
		
		text-align: right
		font-family: $font1
		font-size: 12px
		color: $cinza
		line-height: 20px

		> .red
			text-transform: uppercase
			color: darkred

.sandPageTitle
	margin: 30px 20px 0 20px
	position: relative

	font-family: $font1
	font-size: 30px
	color: $cinza
	text-shadow: 1px 1px #262c31

.sandList
	width: 100%
	padding: 0 20px

	> .sandLine
		width: 100%
		list-style-type: none

		border-top: 1px dashed $cinza

		&:first-child
			border-top: 1px solid $cinza

		> a
			width: 100%
			height: 100%
			padding: 30px 20px

			display: block
			text-decoration: none
			position: relative

			font-family: $font1
			color: $cinza
			text-shadow: 1px 1px #262c31

			transition: background-color 0.2s ease

			&:hover
				background-color: rgba(37, 68, 96, .3)

			> .date
				position: absolute
				right: 5px
				bottom: 10px

				font-size: 10px
				font-style: italic

			> .title
				font-size: 16px



/* SandBox Model */
.sandContentHeader
	position: absolute
	top: 0
	right: 0
	
	width: 30px
	padding: 5px

	> a,
		width: 100%
		height: 100%
		display: block

		> img
			width: 100%

.sandContent
	width: 100%
	height: 100vh
	background-color: $cinza
	position: relative
	overflow: hidden

	display: flex
	justify-content: center
	align-items: center

.sandNotes
	width: 100%
	height: 50px
	background-color: $verde
	color: white
	font-family: $font1
	font-size: 12px
	letter-spacing: 1px

	display: flex
	justify-content: center
	align-items: center


