.about
	width: 100%
	background-color: var(--color-grey)
	padding: 50px 10px

	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: center

	font-family: $font1
	letter-spacing: 1px

	> h3 
		font-size: 28px
		margin-bottom: 30px

	> .aboutMeSumUp
		width: 50%
		font-size: 15px
		margin-bottom: 100px
		color: var(--color-green)
		font-family: $font2
		text-align: center

	> .socialMedias
		width: 100%

		display: flex
		justify-content: center

		> a
			width: 20px
			height: 20px
			display: block
			margin-right: 10px

			> svg
				display: block
				width: 25px
				height: 25px
				transition: all 0.2s ease

				&:hover
					fill: var(--color-green)

@media only screen and (max-width: 800px)
	.about
		> .aboutMeSumUp
			width: 80%

@media only screen and (max-width: 500px)
	.about
		> .aboutMeSumUp
			width: 100%
