.education
	width: 100%
	padding: 40px 5%
	background-color: var(--color-bg)
	position: relative

	> h2
		font-family: $font1
		color: var(--color-text-main-title)
		font-size: 28px
		padding-bottom: 5px
		border-bottom: 2px solid var(--color-text-main-title)
		margin-bottom: 25px

	> p
		color: var(--color-text-main-subtitle)
		font-family: $font2
		margin-bottom: 40px

	> .educationArea
		display: flex
		justify-content: center
		font-family: $font1

		> .timeline
			width: 100%
			margin: 30px auto
			padding: 0 10px

			list-style: none
			position: relative
			transition: all 0.4s ease

			&::before
				content: ""
				width: 3px
				height: 100%
				background: var(--color-main)
				left: 50%
				top: 0
				position: absolute

			> .item-odd
				align-items: start

			> .item-even
				align-items: end

			> .item
				margin-bottom: 50px
				position: relative

				display: flex
				flex-direction: column

				> .icon
					background: var(--color-main)
					width: 50px
					height: 50px
					position: absolute
					top: 0
					left: 50%
					overflow: hidden
					margin-left: -23px
					border-radius: 50%
					display: flex
					justify-content: center
					align-items: center

					svg
						width: 30px
						height: 30px
						display: block
						fill: $black

				> .item-odd
					padding: 0 50px 0 0
					display: flex
					flex-direction: row
					justify-content: flex-end

					&::before
						content: ""
						position: absolute
						top: 20px
						width: 0
						height: 0
						border-top: 7px solid transparent
						border-bottom: 7px solid transparent

						right: 43px
						border-left: 7px solid var(--color-main)

				> .item-even
					padding: 0 0 0 50px
					display: flex
					flex-direction: row
					justify-content: flex-start

					&::before
						content: ""
						position: absolute
						top: 20px
						width: 0
						height: 0
						border-top: 7px solid transparent
						border-bottom: 7px solid transparent

						left: 43px
						border-right: 7px solid var(--color-main)

				> .edContainer
					width: 50%
					position: relative

					> .container
						width: 100%
						max-width: 500px

						background: var(--color-bg-dark-10)
						padding: 20px 20px 10px 20px
						border-radius: 5px
						transition: all 0.3s ease
						border: 2px solid var(--color-main)

						> .title
							padding: 15px
							background: var(--color-main)
							margin: -20px -20px 0 -20px
							border-radius: 3px 3px 0 0

							display: flex
							flex-direction: row
							justify-content: space-between

							color: $black

							> h3
								font-weight: 300
								margin-right: 10px

							> .url
								height: 100%
								margin: 0 5px

								text-decoration: none

								color: $black

								display: flex
								align-items: center

								svg
									width: 15px
									height: 15px
									display: block
									margin-left: 10px
									fill: $black

						> .content
							display: flex
							flex-direction: column
							margin-top: 10px

							> .description
								color: var(--color-text-light-10)
								margin-bottom: 15px
								border-bottom: 1px dashed var(--color-main)
								padding-bottom: 10px

							> .details
								display: flex
								flex-direction: row
								justify-content: space-between

								font-size: 12px

								> .location + .time,
								> .company + .time
									margin-left: 20px

								> .location,
								> .company,
								> .time
									display: flex
									flex-direction: row

								p
									color: var(--color-text-main-title)

								svg
									min-width: 15px
									width: 15px
									height: 15px px
									display: block
									margin-right: 5px
									fill: var(--color-text-main-title)

@media only screen and (max-width: 800px)
	.education > .educationArea > .timeline
		&::before
			left: 100%

		> .item
			margin-right: 40px

			> .icon
				left: 100%
				margin-left: 25px

			> .edContainer
				width: 100%
				padding: 0

				> .container
					width: 100%

			> .item-odd::before
				left: 100%

			> .item-even
				justify-content: flex-end

				&::before
					left: 100%
					border-left: 7px solid var(--color-main)
					border-right: none

@media only screen and (max-width: 500px)
	.education > .educationArea > .timeline
		&::before
			content: none

		> .item
			margin-right: 0

			> .item-odd::before,
			> .item-even::before
				content: none

			> .icon
				left: -20px
				top: 2px
				z-index: 2

			> .edContainer
				> .container
					> .title
						padding-left: 60px

					> .content > .details
						flex-direction: column

						> .location + .time,
						> .company + .time
							margin-left: 0
							margin-top: 10px
