.projects
	width: 100%
	padding: 40px 5%
	position: relative

	.projectsBackground
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		z-index: -1
		background-color: var(--color-bg)

	> h2
		font-family: $font1
		color: var(--color-text-main-title)
		font-size: 28px
		padding-bottom: 5px
		border-bottom: 2px solid var(--color-text-main-title)
		margin-bottom: 25px

	> p
		color: var(--color-text-main-subtitle)
		font-family: $font2
		margin-bottom: 40px


	> .projectsContainer
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center

		> .card
			width: 300px
			max-height: 400px

			border-radius: 10px
			margin: 0px 30px 50px 30px

			text-decoration: none
			background-color: #fff
			border: 2px solid var(--color-text-main-title)

			position: relative
			overflow: hidden
			cursor: pointer

			&:nth-child(6n+1)
				box-shadow: inset 60px 0 120px #f0f, inset -60px 0 120px #0ff

			&:nth-child(6n+2)
				box-shadow: inset 60px 0 120px #00ff72, inset -60px 0 120px #fffb00

			&:nth-child(6n+3)
				box-shadow: inset 60px 0 120px #0091ff, inset -60px 0 120px #ff1c00

			&:nth-child(6n+4)
				box-shadow: inset 60px 0 120px #ff9100, inset -60px 0 120px #8900ff

			&:nth-child(6n+5)
				box-shadow: inset 60px 0 120px #0ff, inset -60px 0 120px #00ff72

			&:nth-child(6n+6)
				box-shadow: inset 60px 0 120px #ff1c00, inset -60px 0 120px #f0f

			> .github
				width: 100px
				height: 50px

				background-color: var(--color-text-main-title)
				transform: rotate(45deg)

				position: absolute
				top: -10px
				right: -35px
				z-index: 1

				display: flex
				justify-content: center
				align-items: flex-end

				> svg
					display: block
					width: 30px
					height: 30px
					fill: var(--color-bg-dark-10)

			> .glass
				width: 100%
				height: 100%

				display: flex
				flex-direction: column
				justify-content: space-between
				align-items: center

				background: rgb(0 0 0 / 25%)

				padding: 20px

				transition: transform 0.5s ease-in-out

				&:hover
					transform: scale(105%)

				> img
					display: block
					width: 100px
					height: 100px
					border-radius: 20%
					margin-bottom: 10px

				> .title
					color: var(--color-text-secondary-title)
					font-family: $font1
					text-align: center
					margin-bottom: 10px

				> .description
					color: var(--color-text-secondary-title)
					font-family: $font1
					text-align: center
					margin-bottom: 10px

				> .tags
					color: var(--color-text-main-title)
					font-family: $font1
					text-align: center

					display: flex
					flex-direction: row
					justify-content: space-between

					border: 1px solid var(--color-text-main-title)
					padding: 5px 10px
					border-radius: 10px
					background-color: var(--color-bg-dark-10)
