doctype html
html(lang="pt-br" dir="ltr")
  include includes/head.pug

  body#js-body
    include includes/svgs/svg-social.pug
    include includes/svgs/svg-icons.pug

    noscript
      div.noScript
        p Este site fica melhor com o JavaScript habilitado. Por favor, habilite!

    include includes/header.pug

    include includes/sections/about.pug
    include includes/sections/skills.pug
    include includes/sections/portfolio.pug
    include includes/sections/blog.pug
    include includes/sections/contact.pug

    include includes/footer.pug
