doctype html
html(lang=language dir="ltr")
  include includes/head.pug

  body#js-body
    include includes/svgs/svg-social.pug
    include includes/svgs/svg-icons.pug

    noscript
      div.noScript
        p #{strings.noScript}

    include includes/header.pug

    include includes/languages.pug
    include includes/themes.pug

    include includes/sections/about.pug
    include includes/sections/skills.pug
    include includes/sections/portfolio.pug
    include includes/sections/blog.pug
    include includes/sections/contact.pug

    include includes/footer.pug
