- var about = strings.about;

section.about#sobre
  h3 #{about.main}

  p.aboutMeSumUp #{about.firstLine}
    br
    | #{about.secondLine}

  p.socialMediasMessage #{about.socialMediasMessage}
  include ../social-medias.pug
