section.about#sobre
  h3 Oi, eu sou o Dudu!

  p.aboutMeSumUp Desenvolvedor Front-End de Petrópolis, RJ. <br />
    | Estudante de engenharia de computação e amante de tecnologia.

  include ../social-medias.pug
