section.contact#contato
  h3 Contato

  div.email
    svg(viewBox="0 0 24 24")
        use(xlink:href="#svg-email")
    p eduardokmesiano@gmail.com

  form(action="#")
    div.textField
      input(type="text" id="js-inputName" placeholder="// Nome Completo" aria-label="Nome Completo")
      input(type="text" id="js-inputSubject" placeholder="// Assunto" aria-label="Assunto")
    textarea(name="message" id="js-inputMessage" cols="30" rows="10" placeholder="// Mensagem" aria-label="Mensagem")
    a(href="#" id="js-emailSubmit" class="emailSubmit" target="_blank" rel="noopener") Enviar Mensagem
