section.portfolio#portfolio
  h3 Portfólio
  div.portfolioContainer
    div.frame
      div.hover
        h2 Load Interiores
        svg(viewBox="0 0 24 24")
          use(xlink:href="#svg-magnifier")
      img.case(src="./assets/images/atelier-load.png", alt="Imagem de exemplo do portfólio - Site Load Design") 
    div.frame
      div.hover
        h2 Clínica Dr. Tannure
        svg(viewBox="0 0 24 24")
          use(xlink:href="#svg-magnifier")
      img.case(src="./assets/images/atelier-tannure.png", alt="Imagem de exemplo do portfólio - Site Tannure")
    div.frame
      div.hover
        h2 Reanult Serra
        svg(viewBox="0 0 24 24")
          use(xlink:href="#svg-magnifier")
      img.case(src="./assets/images/atelier-renaultserra.png", alt="Imagem de exemplo do portfólio - Site Renault Serra")
    div.frame
      div.hover
        h2 Buska Imóvel
        svg(viewBox="0 0 24 24")
          use(xlink:href="#svg-magnifier")
      img.case(src="./assets/images/atelier-buska.png", alt="Imagem de exemplo do portfólio - Site Buska")
    div.frame
      div.hover
        h2 Storti & Boechat
        svg(viewBox="0 0 24 24")
          use(xlink:href="#svg-magnifier")
      img.case(src="./assets/images/atelier-stortiboechat.png", alt="Imagem de exemplo do portfólio - Site Storti e Boechat")

  div#js-modal.modal.-hide
    div#js-closeModal.closeModal
    div.img
      img(src="#", alt="Imagem de exemplo do portfólio tamanho maior")