- var skill = strings.skills;

section.skills#sk
  h3 #{skill.title}
  p #{skill.text}

  div.skillsArea
    ul.skillGroup.main

      li
        div.skill
          a(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-javascript.svg" alt="javascript")
        span.tooltipText Javascript

      li
        div.skill
          a(href="https://nodejs.org" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-nodejs.svg" alt="nodejs")
        span.tooltipText NodeJS

      li
        div.skill
          a(href="https://reactjs.org/" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-react.svg" alt="react")
        span.tooltipText ReactJS

      li
        div.skill
          a(href="https://www.typescriptlang.org/" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-typescript.svg" alt="typescript")
        span.tooltipText TypeScript

      li
        div.skill
          a(href="https://aws.amazon.com" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-aws.svg" alt="aws")
        span.tooltipText AWS

      li
        div.skill
          a(href="https://www.python.org" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-python.svg" alt="python")
        span.tooltipText Python

    ul.skillGroup.subMain

      li
        div.skill
          a(href="https://www.w3.org/html/" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-html5.svg" alt="html5")
        span.tooltipText HTML5

      li
        div.skill
          a(href="https://www.w3schools.com/css/" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-css3.svg" alt="css3")
        span.tooltipText CSS3

      li
        div.skill
          a(href="https://pugjs.org" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-pug.svg" alt="pug")
        span.tooltipText Pug / Jade

      li
        div.skill
          a(href="https://sass-lang.com" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-sass.svg" alt="sass")
        span.tooltipText Sass

      li
        div.skill
          a(href="https://expressjs.com" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-express.svg" alt="express")
        span.tooltipText ExpressJS

      li
        div.skill
          a(href="https://www.w3schools.com/cs/" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-csharp.svg" alt="csharp")
        span.tooltipText C#

      li
        div.skill
          a(href="https://developer.android.com" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-android.svg" alt="android")
        span.tooltipText Android

      li
        div.skill
          a(href="https://reactnative.dev/" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-react-native.svg" alt="react native")
        span.tooltipText React Native

    ul.skillGroup.infra

      li
        div.skill
          a(href="https://git-scm.com/" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-git.svg" alt="git")
        span.tooltipText Git

      li
        div.skill
          a(href="https://www.docker.com/" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-docker.svg" alt="docker")
        span.tooltipText Docker

      li
        div.skill
          a(href="https://docs.microsoft.com/pt-br/powershell/scripting/overview?view=powershell-7.1" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-powershell.svg" alt="powershell")
        span.tooltipText PowerShell

      li
        div.skill
          a(href="https://www.mysql.com/" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-mysql.svg" alt="mysql")
        span.tooltipText MySQL

      li
        div.skill
          a(href="https://grafana.com" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-grafana.svg" alt="grafana")
        span.tooltipText Grafana

    ul.skillGroup.others

      li
        div.skill
          a(href="https://flask.palletsprojects.com/" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-flask.svg" alt="flask")
        span.tooltipText Flask

      li
        div.skill
          a(href="https://jekyllrb.com/" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-jekyll.svg" alt="jekyll")
        span.tooltipText Jekyll

      li
        div.skill
          a(href="https://docs.microsoft.com/pt-br/office/vba/library-reference/concepts/getting-started-with-vba-in-office/" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-excel.svg" alt="excel VBA")
        span.tooltipText Excel / VBA

      li
        div.skill
          a(href="https://mochajs.org" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-mocha.svg" alt="mocha")
        span.tooltipText Mocha

      li
        div.skill
          a(href="https://www.arduino.cc/" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-arduino.svg" alt="arduino")
        span.tooltipText Arduino

      li
        div.skill
          a(href="https://www.latex-project.org" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-latex.svg" alt="LaTeX")
        span.tooltipText LaTeX

    ul.skillGroup.dataScience

      li
        div.skill
          a(href="https://powerbi.microsoft.com" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-powerbi.svg" alt="power BI")
        span.tooltipText Power BI

      li
        div.skill
          a(href="https://www.mathworks.com/" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-matlab.png" alt="matlab")
        span.tooltipText Matlab

      li
        div.skill
          a(href="https://www.tensorflow.org" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-tensorflow.svg" alt="tensorFlow")
        span.tooltipText TensorFlow

      li
        div.skill
          a(href="https://www.metabase.com" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-metabase.svg" alt="metabase")
        span.tooltipText Metabase

      li
        div.skill
          a(href="https://www.hitachivantara.com/en-us/products/data-management-analytics/pentaho.html" target="_blank" rel="noopener")
            img.techImg(src="../../assets/images/skill-pentaho.png" alt="pentaho")
        span.tooltipText Pentaho
