section.skills#sk
  h3 Habilidades
  div.skillsList
    div.skillsExpertise
      div.basic
        h2 Básico
      div.intermediate
        h2 Intermediário
      div.expert
        h2 Avançado

    ul
      li.level.-o9.-in HTML5
      li.level.-o6.-in JavaScript
      li.level.-o9.-in CSS3
      li.level.-o7.-in SVG
      li.level.-o4.-in Arduino
      li.level.-o7.-in Excel
      li.level.-o4.-in C
      li.level.-o2.-in C++
      li.level.-o6.-in Excel (VBA)
      li.level.-o8.-in Pug / Jade
      li.level.-o2.-in Python
      li.level.-o4.-in Jquery
      li.level.-o3.-in PHP
      li.level.-o7.-in Word
      li.level.-o6.-in Jkyll
      li.level.-o4.-in ReactJS
      li.level.-o5.-in mySQL
      li.level.-o4.-in Linux
      li.level.-o6.-in PorwerPoint
      li.level.-o5.-in Git / Github
      li.level.-o9.-in Sass
      li.level.-o4.-in Greensock
      li.level.-o7.-in Gulp
      li.level.-o3.-in Redes de computadores
      li.level.-o5.-in Wordpress
      li.level.-o4.-in LaTeX
