- var skill = strings.skills;

section.skills#sk
  h2 #{skill.title}
  p #{skill.text}

  div.skillsArea
    p.skillGroupTitle Main
    ul.skillGroup

      li.skillContainer
        a.skill(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-javascript.svg" alt="javascript")
            img.bgImage(src="../../assets/images/skill-javascript.svg" alt="javascript")
          p.skillName Javascript

      li.skillContainer
        a.skill(href="https://nodejs.org" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-nodejs.svg" alt="nodejs")
            img.bgImage(src="../../assets/images/skill-nodejs.svg" alt="nodejs")
          p.skillName NodeJS

      li.skillContainer
        a.skill(href="https://reactjs.org/" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-react.svg" alt="react")
            img.bgImage(src="../../assets/images/skill-react.svg" alt="react")
          p.skillName ReactJS

      li.skillContainer
        a.skill(href="https://www.typescriptlang.org/" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-typescript.svg" alt="typescript")
            img.bgImage(src="../../assets/images/skill-typescript.svg" alt="typescript")
          p.skillName TypeScript

      li.skillContainer
        a.skill(href="https://aws.amazon.com" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-aws.svg" alt="aws")
            img.bgImage(src="../../assets/images/skill-aws.svg" alt="aws")
          p.skillName AWS

      li.skillContainer
        a.skill(href="https://www.python.org" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-python.svg" alt="python")
            img.bgImage(src="../../assets/images/skill-python.svg" alt="python")
          p.skillName Python

    p.skillGroupTitle Secondary
    ul.skillGroup

      li.skillContainer
        a.skill(href="https://www.w3.org/html/" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-html5.svg" alt="html5")
            img.bgImage(src="../../assets/images/skill-html5.svg" alt="html5")
          p.skillName HTML5

      li.skillContainer
        a.skill(href="https://www.w3schools.com/css/" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-css3.svg" alt="css3")
            img.bgImage(src="../../assets/images/skill-css3.svg" alt="css3")
          p.skillName CSS3

      li.skillContainer
        a.skill(href="https://pugjs.org" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-pug.svg#Layer_1" alt="pug.svg")
            img.bgImage(src="../../assets/images/skill-pug.svg#Layer_1" alt="pug.svg")
          p.skillName Pug / Jade

      li.skillContainer
        a.skill(href="https://sass-lang.com" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-sass.svg" alt="sass")
            img.bgImage(src="../../assets/images/skill-sass.svg" alt="sass")
          p.skillName Sass

      li.skillContainer
        a.skill(href="https://expressjs.com" target="_blank" rel="noopener")
          div.logo
            img.techImage.darkInvert(src="../../assets/images/skill-express.svg" alt="express")
            img.bgImage.darkInvertBg(src=".../../assets/images/skill-express.svg")
          p.skillName ExpressJS

      li.skillContainer
        a.skill(href="https://www.w3schools.com/cs/" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-csharp.svg" alt="csharp")
            img.bgImage(src="../../assets/images/skill-csharp.svg" alt="csharp")
          p.skillName C#

      li.skillContainer
        a.skill(href="https://developer.android.com" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-android.svg" alt="android")
            img.bgImage(src="../../assets/images/skill-android.svg" alt="android")
          p.skillName Android

      li.skillContainer
        a.skill(href="https://reactnative.dev/" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-react-native.svg" alt="react-native")
            img.bgImage(src="../../assets/images/skill-react-native.svg" alt="react-native")
          p.skillName React Native

    p.skillGroupTitle Infra
    ul.skillGroup

      li.skillContainer
        a.skill(href="https://git-scm.com/" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-git.svg" alt="git")
            img.bgImage(src="../../assets/images/skill-git.svg" alt="git")
          p.skillName Git

      li.skillContainer
        a.skill(href="https://www.docker.com/" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-docker.svg" alt="docker")
            img.bgImage(src="../../assets/images/skill-docker.svg" alt="docker")
          p.skillName Docker

      li.skillContainer
        a.skill(href="https://docs.microsoft.com/pt-br/powershell/scripting/overview?view=powershell-7.1" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-powershell.svg" alt="powershell")
            img.bgImage(src="../../assets/images/skill-powershell.svg" alt="powershell")
          p.skillName PowerShell

      li.skillContainer
        a.skill(href="https://www.mysql.com/" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-mysql.svg" alt="mysql")
            img.bgImage(src="../../assets/images/skill-mysql.svg" alt="mysql")
          p.skillName MySQL

      li.skillContainer
        a.skill(href="https://grafana.com" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-grafana.svg" alt="grafana")
            img.bgImage(src="../../assets/images/skill-grafana.svg" alt="grafana")
          p.skillName Grafana

    p.skillGroupTitle Others
    ul.skillGroup

      li.skillContainer
        a.skill(href="https://flask.palletsprojects.com/" target="_blank" rel="noopener")
          div.logo
            img.techImage.darkInvert(src="../../assets/images/skill-flask.svg" alt="flask")
            img.bgImage.darkInvertBg(src="../../assets/images/skill-flask.svg" alt="flask")
          p.skillName Flask

      li.skillContainer
        a.skill(href="https://jekyllrb.com/" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-jekyll.svg" alt="jekyll")
            img.bgImage(src="../../assets/images/skill-jekyll.svg" alt="jekyll")
          p.skillName Jekyll

      li.skillContainer
        a.skill(href="https://docs.microsoft.com/pt-br/office/vba/li.skillContainerbrary-reference/concepts/getting-started-with-vba-in-office/" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-excel.svg" alt="excel")
            img.bgImage(src="../../assets/images/skill-excel.svg" alt="excel")
          p.skillName Excel / VBA

      li.skillContainer
        a.skill(href="https://mochajs.org" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-mocha.svg" alt="mocha")
            img.bgImage(src="../../assets/images/skill-mocha.svg" alt="mocha")
          p.skillName Mocha

      li.skillContainer
        a.skill(href="https://www.arduino.cc/" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-arduino.svg" alt="arduino")
            img.bgImage(src="../../assets/images/skill-arduino.svg" alt="arduino")
          p.skillName Arduino

      li.skillContainer
        a.skill(href="https://www.latex-project.org" target="_blank" rel="noopener")
          div.logo
            img.techImage.darkInvert(src="../../assets/images/skill-latex.svg" alt="latex")
            img.bgImage.darkInvertBg(src="../../assets/images/skill-latex.svg" alt="latex")
          p.skillName LaTeX

    p.skillGroupTitle Data Science
    ul.skillGroup

      li.skillContainer
        a.skill(href="https://powerbi.microsoft.com" target="_blank" rel="noopener")
          div.logo
            img.techImage.darkInvert(src="../../assets/images/skill-powerbi.svg" alt="powerbi")
            img.bgImage.darkInvertBg(src="../../assets/images/skill-powerbi.svg" alt="powerbi")
          p.skillName Power BI

      li.skillContainer
        a.skill(href="https://www.mathworks.com/" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-matlab.png" alt="matlab")
            img.bgImage(src="../../assets/images/skill-matlab.png" alt="matlab")
          p.skillName Matlab

      li.skillContainer
        a.skill(href="https://www.tensorflow.org" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-tensorflow.svg" alt="tensorflow")
            img.bgImage(src="../../assets/images/skill-tensorflow.svg" alt="tensorflow")
          p.skillName TensorFlow

      li.skillContainer
        a.skill(href="https://www.metabase.com" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-metabase.svg" alt="metabase")
            img.bgImage(src="../../assets/images/skill-metabase.svg" alt="metabase")
          p.skillName Metabase

      li.skillContainer
        a.skill(href="https://www.hitachivantara.com/en-us/products/data-management-analytics/pentaho.html" target="_blank" rel="noopener")
          div.logo
            img.techImage(src="../../assets/images/skill-pentaho.png" alt="pentaho")
            img.bgImage(src="../../assets/images/skill-pentaho.png" alt="pentaho")
          p.skillName Pentaho
