- var skill = strings.skills;

section.skills#sk
  h3 #{skill.title}
  p #{skill.text}

  div.skillsArea
    ul.skillGroup.main

      div
        li.skill
          a(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript")
        span.tooltipText Javascript

      div
        li.skill
          a(href="https://nodejs.org" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" alt="nodejs")
        span.tooltipText NodeJS

      div
        li.skill
          a(href="https://reactjs.org/" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react")
        span.tooltipText ReactJS

      div
        li.skill
          a(href="https://www.typescriptlang.org/" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg" alt="typescript")
        span.tooltipText TypeScript

      div
        li.skill
          a(href="https://aws.amazon.com" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/devicons/devicon/master/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" alt="aws")
        span.tooltipText AWS

      div
        li.skill
          a(href="https://www.python.org" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python")
        span.tooltipText Python

    ul.skillGroup.subMain

      div
        li.skill
          a(href="https://www.w3.org/html/" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5")
        span.tooltipText HTML5

      div
        li.skill
          a(href="https://www.w3schools.com/css/" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3")
        span.tooltipText CSS3

      div
        li.skill
          a(href="https://pugjs.org" target="_blank" rel="noopener")
            img.techImg(src="https://cdn.worldvectorlogo.com/logos/pug.svg" alt="pug")
        span.tooltipText Pug / Jade

      div
        li.skill
          a(href="https://sass-lang.com" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg" alt="sass")
        span.tooltipText Sass

      div
        li.skill
          a(href="https://expressjs.com" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg" alt="express")
        span.tooltipText ExpressJS

      div
        li.skill
          a(href="https://www.w3schools.com/cs/" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg" alt="csharp")
        span.tooltipText C#

      div
        li.skill
          a(href="https://developer.android.com" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/devicons/devicon/master/icons/android/android-original-wordmark.svg" alt="android")
        span.tooltipText Android

      div
        li.skill
          a(href="https://reactnative.dev/" target="_blank" rel="noopener")
            img.techImg(src="https://reactnative.dev/img/header_logo.svg" alt="reactnative")
        span.tooltipText React Native

    ul.skillGroup.infra

      div
        li.skill
          a(href="https://git-scm.com/" target="_blank" rel="noopener")
            img.techImg(src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git")
        span.tooltipText Git

      div
        li.skill
          a(href="https://www.docker.com/" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg" alt="docker")
        span.tooltipText Docker

      div
        li.skill
          a(href="https://docs.microsoft.com/pt-br/powershell/scripting/overview?view=powershell-7.1" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/PowerShell/PowerShell/c8984c0517938852a91e3633ee4793e4e14ea05a/assets/powershell_128.svg" alt="powershell")
        span.tooltipText PowerShell

      div
        li.skill
          a(href="https://www.mysql.com/" target="_blank" rel="noopener")
            img.techImg(src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql")
        span.tooltipText MySQL

      div
        li.skill
          a(href="https://grafana.com" target="_blank" rel="noopener")
            img.techImg(src="https://www.vectorlogo.zone/logos/grafana/grafana-icon.svg" alt="grafana")
        span.tooltipText Grafana

    ul.skillGroup.others

      div
        li.skill
          a(href="https://flask.palletsprojects.com/" target="_blank" rel="noopener")
            img.techImg(src="https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg" alt="flask")
        span.tooltipText Flask

      div
        li.skill
          a(href="https://jekyllrb.com/" target="_blank" rel="noopener")
            img.techImg(src="https://www.vectorlogo.zone/logos/jekyllrb/jekyllrb-icon.svg" alt="jekyll")
        span.tooltipText Jekyll

      div
        li.skill
          a(href="https://docs.microsoft.com/pt-br/office/vba/library-reference/concepts/getting-started-with-vba-in-office/" target="_blank" rel="noopener")
            img.techImg(src="https://upload.wikimedia.org/wikipedia/commons/3/34/Microsoft_Office_Excel_%282019%E2%80%93present%29.svg" alt="excel VBA")
        span.tooltipText Excel / VBA

      div
        li.skill
          a(href="https://mochajs.org" target="_blank" rel="noopener")
            img.techImg(src="https://www.vectorlogo.zone/logos/mochajs/mochajs-icon.svg" alt="mocha")
        span.tooltipText Mocha

      div
        li.skill
          a(href="https://www.arduino.cc/" target="_blank" rel="noopener")
            img.techImg(src="https://cdn.worldvectorlogo.com/logos/arduino-1.svg" alt="arduino")
        span.tooltipText Arduino

      div
        li.skill
          a(href="https://www.latex-project.org" target="_blank" rel="noopener")
            img.techImg(src="https://upload.wikimedia.org/wikipedia/commons/9/92/LaTeX_logo.svg" alt="LaTeX")
        span.tooltipText LaTeX

    ul.skillGroup.dataScience

      div
        li.skill
          a(href="https://powerbi.microsoft.com" target="_blank" rel="noopener")
            img.techImg(src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Power_bi_logo_black.svg" alt="power BI")
        span.tooltipText Power BI

      div
        li.skill
          a(href="https://www.mathworks.com/" target="_blank" rel="noopener")
            img.techImg(src="https://upload.wikimedia.org/wikipedia/commons/2/21/Matlab_Logo.png" alt="matlab")
        span.tooltipText Matlab

      div
        li.skill
          a(href="https://www.tensorflow.org" target="_blank" rel="noopener")
            img.techImg(src="https://www.vectorlogo.zone/logos/tensorflow/tensorflow-icon.svg" alt="tensorFlow")
        span.tooltipText TensorFlow

      div
        li.skill
          a(href="https://www.metabase.com" target="_blank" rel="noopener")
            img.techImg(src="https://www.vectorlogo.zone/logos/metabase/metabase-icon.svg" alt="metabase")
        span.tooltipText Metabase

      div
        li.skill
          a(href="https://www.hitachivantara.com/en-us/products/data-management-analytics/pentaho.html" target="_blank" rel="noopener")
            img.techImg(src="https://cdn.freelogovectors.net/wp-content/uploads/2018/06/pentaho-logo.png" alt="pentaho")
        span.tooltipText Pentaho
