@function hexToRGB($hex)
	@return red($hex), green($hex), blue($hex)

$green: #2CAD88
$blue: 	#254460
$grey: #f8f8f8
$black: #1F2421

$font1: 'Varela Round', sans-serif
$font2: 'Montserrat', sans-serif

:root
	--color-green: #{$green}
	--color-green-dark-10: #{darken($green, 10%)}
	--color-green-opacity-05: rgba(#{hexToRGB($green)}, 0.5)

	--color-blue: #{$blue}

	--color-grey: #{$grey}
	--color-grey-dark-10: #{darken($grey, 10%)}
	--color-grey-dark-50: #{darken($grey, 50%)}
	--color-grey-dark-65: #{darken($grey, 65%)}
	--color-grey-opacity-01: rgba(#{hexToRGB($grey)}, 0.1)
	--color-grey-opacity-075: rgba(#{hexToRGB($grey)}, 0.75)

	--color-black: #{$black}
	--color-black-light-10: #{lighten($black, 10%)}
	--color-black-light-50: #{lighten($black, 50%)}
	--color-black-light-75: #{lighten($black, 75%)}
	--color-black-opacity-075: rgba(#{hexToRGB($black)}, 0.75)

[data-theme="dark"]
	--color-green: red
	--color-green-dark-10: #{darken(red, 10%)}
	--color-green-opacity-05: rgba(#{hexToRGB(red)}, 0.5)
