head
    title Dudu Kling

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")

    link(rel="shortcut icon" href="imgs/icon.svg")
    link(rel="stylesheet" type="text/css" href="style.css")

    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,500|Varela+Round" rel="stylesheet")