nav.menu
  a(href="#").logo &lt Dudu Kling /&gt

  ul
    li
      a(href="index.html") Home
    li 
      a(href="aaaas") Sobre
    li 
      a(href="#") Blog
    li 
      a(href="#") Portfólio
    li 
      a(href="sandbox.html") Sandbox
    li 
      a(href="#") Currículo
    li 
      a(href="#") Contato