nav.menu
  a(href="index.html").logo &lt Dudu Kling /&gt
  
  ul
    li
      a(href="index.html") Home
    li 
      a(href="#sobre") Sobre
    li 
      a(href="#portfolio") Portfólio
    li 
      a(href="#blog") Blog
    //- li 
    //-   a(href="sandbox.html") Sandbox
    li 
      a(href="#") Currículo
    li 
      a(href="#contato") Contato