nav.menu#menu.-top
  a(href="index.html").logo &lt; Dudu Kling /&gt;

  label.hamburgerMenu(for="respMenu")
    .line1
    .line2
    .line3
  
  input(type="checkbox" id="respMenu")

  ul
    li
      a(href="index.html") Home
    li 
      a(href="#sobre") Sobre
    li 
      a(href="#portfolio") Portfólio
    li 
      a(href="#blog") Blog
    li 
      a(href="Curriculum_Eduardo_K_Mesiano.pdf" target="_blank") Currículo
    li 
      a(href="#contato") Contato
  
